.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;

}

.project-container{
    /* background: #fff; */
    max-width: 100%;
    margin:1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding-bottom: 1rem; 
    padding-top: 10px;
    
}

.project-card{
    width:100%;
    /* padding-right: 40px; */
    background: #191919;
    padding: 1rem 1rem;
    
}
.project-card img{
width: 100%;
}
.project-title{
    color: #fff;
    padding: 1rem 0;
}
.project-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn{
    padding: 0.5rem 1rem;
}
@media (max-width:1240px) {
    .project-container{
        max-width: 100%;
        margin: 0;
        grid-template-columns:1fr; 
    } 
    .project-card{
        width: 90vw;
        margin: auto;
        
    }
}
@media (max-width:740px) {
   .project-container{
    max-width: 100%;
    margin: 0;
    grid-template-columns: 1fr;
} 
.project-card{
    width: 90vw;
    margin: 0 0.8rem;
    
}
   
}