.sports-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;

}

.cert-container{
    /* background: #fff; */
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    padding-bottom: 1rem;
}
.cert-card{
    background: #191919;
    padding: 0;
    /* display: flex; */
    /* flex-direction: row; */
}
.cert-card img{
width: 100%;
}


@media (max-width:740px) {

   .cert-container{
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
} 
.cert-card {
    width: 100%;
    }
}